/* Обычный */
@font-face {
  font-family: "AmaticSC-Bold";
  src: url("../../fonts/AmaticSC-Regular.ttf");
}
.body {
  height: 56px;
  background-color: #ffc373;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: black;
  }
  p {
    margin: 0;
    font-family: AmaticSC-Bold, sans-serif;
  }
  .logo {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    width: 116px;
    margin-left: 10px;
  }
  .interface {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    .profile {
      height: 50px;
      width: 50px;
    }
  }
}
