$color-primary-0: #ff9200;	/* Основной Цвет */ 
$color-primary-1: #bf8230; /*Ссылка на цветовую схему https://colorscheme.ru/#0I11Tw0w0w0w0*/
$color-primary-2: #a65f00;
$color-primary-3: #ffad40;
$color-primary-4: #ffc373;